# https://github.com/peng-zhihui/ElectronBot/discussions/206
# https://gist.github.com/TitanRGB/61c37bf71159cc9a511558ec7c218339
*.PrjPCBStructure linguist-detectable=true
*.OutJob linguist-detectable=true
*.PcbDoc linguist-detectable=true
*.PrjPCB linguist-detectable=true
*.SchDoc linguist-detectable=true
*.outjob linguist-detectable=true
*.pcbdoc linguist-detectable=true
*.prjpcb linguist-detectable=true
*.schdoc linguist-detectable=true
*.html linguist-detectable=false
*pde linguist-detectable=false
*.gbr linguist-detectable=true
*.cmp linguist-detectable=true
*.gbl linguist-detectable=true
*.gbo linguist-detectable=true
*.gbp linguist-detectable=true
*.gbs linguist-detectable=true
*.gko linguist-detectable=true
*.gml linguist-detectable=true
*.gpb linguist-detectable=true
*.gpt linguist-detectable=true
*.gtl linguist-detectable=true
*.gto linguist-detectable=true
*.gtp linguist-detectable=true
*.gts linguist-detectable=true
*.ncl linguist-detectable=true
*.sol linguist-detectable=true
*.GBR linguist-detectable=true
*.CMP linguist-detectable=true
*.GBL linguist-detectable=true
*.GBO linguist-detectable=true
*.GBP linguist-detectable=true
*.GBS linguist-detectable=true
*.GKO linguist-detectable=true
*.GML linguist-detectable=true
*.GBP linguist-detectable=true
*.GPT linguist-detectable=true
*.GTL linguist-detectable=true
*.GTO linguist-detectable=true
*.GTP linguist-detectable=true
*.GTS linguist-detectable=true
*.NCL linguist-detectable=true
*.SOL linguist-detectable=true